= stylesheet_link_tag 'jquery/rating/jRating.jquery'
= javascript_include_tag 'jquery/rating/jRating.jquery'
= javascript_include_tag 'rating_functions'
:javascript
  $(document).ready(function(){
    prepare_avg_rate();
   });
- if !@collections.blank?
  - counter = 0
  - @collections.each do |coll|
    - title = coll.title.length > 15 ? coll.title[0,14] + "..." : coll.title
    - counter = counter + 1
    - if coll.photo_name.blank?
      - @thumb ="/images_#{I18n.locale}/#{I18n.t('common.default_collection')}"
      - thumb_title = nil
    - else
      - @thumb = coll.photo_name_url(:thumb)
      - thumb_title = title
    .col-md-4
      %div{id: "collection_#{counter}", class: "media collection", name: "collection #{coll.id}"}
        %a.pull-left{href: "#{collection_path(id: coll.id)}"}
          =image_tag("#{@thumb}", class: "media-object img-thumbnail", title: thumb_title)
        .media-body{style: "float:right;"}
          %h4.media-heading
            = link_to title, {controller: :collections, action: :show, id: coll.id}
            %span.badge{title: "#{I18n.t('collection.collections_books_number_tip')}", pointer: "cursor"}
              = "#{coll.collection_volumes.count}"
          %i.fa.fa-user
          %small
            = link_to "#{I18n.t('collection.collection_by')} #{User.find(coll.user_id).real_name}",
              {controller: :users, action: :show, id: coll.user_id}
          %p
            %small
              = coll.description
          %i.fa.fa-calendar-o
          = I18n.t('collection.collection_creation_date')
          %p
            %small
              = coll.created_at
          .rate
            .averagerate{id: "collection_#{coll.id}", data: "#{coll.rate}"}