.col-md-2.column.pull-right
  - if @collection.photo_name.blank? 
    = image_tag("/images_#{I18n.locale}/#{I18n.t('common.default_collection')}", class: "img-thumbnail")
  - else
    = image_tag(@collection.photo_name_url(:thumb), class: "img-thumbnail")
    - if is_logged_in_user?(@collection.user_id)
      %div
        = check_box_tag("delete_photo", "delete_photo", false, onclick: "confirmDeleteCollectionphoto(#{@collection.id})")
        = I18n.t('common.delete_photo')