:javascript
  $(document).ready(function(){
    prepare_avg_rate();
  });
  get_or_delete_photo("#{@collection.id}", 0);

.row.clearfix
  .col-md-12.column
    %h2{ "ng-non-bindable" => "" }
      = @collection.title
      %span.badge
        = "#{@collection_volumes.count}"
    %h
      #rating_part
        = render partial: "rating/avg_rate", locals: {rate: @collection.rate, type: "collection" }
    %hr
    %blockquote
      #photo
      %p{ "ng-non-bindable" => "" }
        = @collection.description
      %small{ "ng-non-bindable" => "" }
        %i.fa.fa-user
        = link_to controller: :users, action: :show, id: @collection.user_id do
          = @user.real_name
        - if is_logged_in_user?(@collection.user_id)
          = " - "
          = link_to controller: :collections, action: :edit, id: @collection.id do
            %i.fa.fa-edit
            = I18n.t('collection.edit_collection')
        %br
        %i.fa.fa-calendar-o
        = @collection.created_at
        %br
        .center-block
          %span.text-muted
            = I18n.t('common.your_rating')
          .usercollectionrate
            = render partial: "rating/rating", locals: { rateable_id: @collection.id, rateable_type: "collection", user_rate: @user_rate }
    .clearfix
    %hr
.row.clearfix
  .col-md-8.column.browse
    =render :partial => "collections/collection_books"
    = will_paginate @collection_volumes
  .col-xs-6.col-sm-4.sidebar-offcanvas
    .spacing-left.panel.panel-styled
      =render :partial => "collections/collection_reviews"
