.container
  .row
    .col-md-8.col-md-offset-2
      .form.form-horizontal
        = form_for :user, url: reset_password_action_users_path, builder: FormHelper::BHLFormBuilder, html: { onsubmit: "return check_reset_password_paramters();" } do |f|
          = f.hidden_field :guid, value: params[:guid]
          = f.hidden_field :activation_code, value: params[:activation_code]
          = validation_errors_for(@user)
          .form-group
            = f.label :password, I18n.t('activerecord.attributes.user.entered_password'), class: 'required col-sm-2 control-label'
            .invisible_error_msg#password_error
              = "#{I18n.t('msgs.empty_password_error')}"
            .col-sm-10
              = f.password_field :entered_password, {maxlength: 16, id: "entered_password", class: 'form-control '}
          .form-group
            = f.label :confirm_password, I18n.t('activerecord.attributes.user.entered_password_confirmation'), class: 'required col-sm-2 control-label'                                                 
            .invisible_error_msg#password_confirmation_error
              = "#{I18n.t('msgs.empty_password_confirmation_error')}"
            .col-sm-10
              = f.password_field :entered_password_confirmation, { maxlength: 32, id: "entered_password_confirmation", class: 'form-control '}
          %fieldset
            = f.submit I18n.t('common.change_password'), class: "btn btn-primary"
            = f.submit I18n.t('common.clear'), class: "btn btn-default", type: "reset"