.spacing-left.panel.panel-styled
  .panel-heading
    %h3.panel-title
      = @name
  .panel-body
    %center
      = link_to I18n.t('common.species_details'), "#{I18n.t('common.eol_pages_link')}#{@taxon_concept_id}", target: "_blank"
      %br
      - if @image
        = image_tag @image, :width => 200
        %br
      %br
      - if @books_count == 0
        = I18n.t('common.name_found_in_books', count: @books_count)
      - else
        = link_to I18n.t('common.name_found_in_books', count: @books_count), books_path(params: add_facet_search({}, 'name', @name))