[
- @hierarchy_entries.each do |he|
  {
  "id": "#{he.id}",
  "name": "#{he.clean_taxon_concept}",
  "childrenCount": "#{he.siblings_count}",
  "taxonConceptId": "#{he.taxon_concept_id}"
  }
  = "," unless he == @hierarchy_entries.last
]
