%link{ "type" => "text/css", "rel" => "stylesheet", "href" => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" }
= javascript_include_tag 'rating_functions'

:javascript
  $(document).ready(function() {
   load_user_rating("#{user_rate}");
   $('#star1, #star2, #star3, #star4, #star5').click(function () {
    rate_object(#{session[:user_id]}, "#{rateable_id}", "#{rateable_type}",  parseInt($(this).attr("value")));
   });
  });
  
  
  
%li#star1.starrating{ value: '1' }
%li#star2.starrating{ value: '2' }
%li#star3.starrating{ value: '3' }
%li#star4.starrating{ value: '4' }
%li#star5.starrating{ value: '5' }