= render partial: "header_components/meta"    
= render partial: "header_components/page_title"    
= render partial: "header_components/stylesheets"
= render partial: "header_components/javascripts" 
= yield :head