= javascript_include_tag 'books_functions.js'
.col-md-6
  .topsearch
    .input-append
      %span.separator.pull-left.searchicon
        %i.fa.fa-search.fa-lg.pull-left
      .col-xs-5
        %input.form-control{ id: "headersearchfield", type: "text",  onkeypress: "if(event.keyCode == 13){searchfnc(document.getElementById('headersearchby'), document.getElementById('headersearchfield').value);return false;}"}
      %span.separator.pull-left 
        |
      .btn-group.pull-left
        %select.width.btn.allcat.text-left#headersearchby
          %option.text-left{ value: "all" } 
            = I18n.t('common.all_categories')
          %option.text-left{ value: "title", selected: true } 
            = I18n.t('common.title')
          %option.text-left{ value: "language" } 
            = I18n.t('common.language')
          %option.text-left{ value: "location" } 
            = I18n.t('common.regional_affiliation')
          %option.text-left{ value: "author" } 
            = I18n.t('common.author')
          %option.text-left{ value: "name" } 
            = I18n.t('header.search.option_tagged_species')
          %option.text-left{ value: "subject" } 
            = I18n.t('common.genre')
          %option.text-left{ value: "publisher" } 
            = I18n.t('common.publisher')
          %option.text-left{ value: "content" } 
            = I18n.t('common.content')
      .clearfix.visible-xs  
    %span.separator.pull-left 
      |    
    %a.go.pull-left.rotate{ href: "#", onclick: "searchfnc(document.getElementById('headersearchby'), document.getElementById('headersearchfield').value); return false;"}
      %i.fa.fa-arrow-circle-right.fa-2x
    .clearfix