= javascript_include_tag 'layouts/top_search'


%section.search{ 'ng-controller': 'topSearch',
                 id: 'topsearch',
                 'ng-init': "init_i18n_alerts(\"#{I18n.t('warn.invalid_input')}\",
                                         \"#{I18n.t('warn.empty_search_query_warn')}\")"}
  .container
    .row
      .col-md-10.col-md-offset-1
        .col-md-8.form-group
          %input.form-control{ id: 'headerSearchField',
                               type: 'text',
                               'ng-model': 'searchQuery',
                               'ng-keypress': 'searchKeyPress($event)'.html_safe,
                               placeholder: I18n.t('common.search_query') }
        .col-md-3.form-group
          %select.form-control{ 'ng-model': 'searchBy', id: 'headerSearchBy' }
            %option.text-left{ value: 'all' }
              = I18n.t('common.all_categories')
            %option.text-left{ value: 'title' }
              = I18n.t('common.title')
            %option.text-left{ value: 'language' }
              = I18n.t('common.language')
            %option.text-left{ value: 'location' }
              = I18n.t('common.location')
            %option.text-left{ value: 'author' }
              = I18n.t('common.author')
            %option.text-left{ value: 'name' }
              = I18n.t('common.tagged_species')
            %option.text-left{ value: 'subject' }
              = I18n.t('common.genre')
            %option.text-left{ value: 'publisher' }
              = I18n.t('common.publisher')
            %option.text-left{ value: 'content' }
              = I18n.t('common.content')
        .col-md-1
          %button.btn.btn-primary.btn-block{ type: "submit", 'ng-click': 'search()' }
            %i.fa.fa-search