.col-md-12.column
  %nav.navbar.navbar-default.navbar-inverse{ role: "navigation" }
    .navbar-header
      %button.navbar-toggle{ "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", "type" => "button" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to(" #{I18n.t('common.bhl_short_title')}", root_path(locale: I18n.locale), class: " navbar-brand fa fa-home")
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: link_class({ controller: 'pages', action: 'about' })}
          = link_to(" #{I18n.t('common.about_us')}", about_pages_path(locale: I18n.locale), class: "fa fa-info-circle")
        %li{ class: link_class({ controller: 'books', action: 'index' })}
          = link_to(" #{I18n.t('common.browse_all')}", books_path(locale: I18n.locale), class: "fa fa-globe")
        %li{ class: link_class({ controller: 'names', action: 'index' })}
          = link_to(" #{I18n.t('common.names_header')}", names_path(locale: I18n.locale), class: "fa fa-tags")
        %li{ class: link_class({ controller: 'geographics', action: 'index' })}
          = link_to(" #{I18n.t('common.geographics')}", geographics_path(locale: I18n.locale), class: "fa fa-map-marker")
        %li{ class: link_class({ controller: 'collections', action: 'index' })}
          = link_to(" #{I18n.t('common.collections')}", collections_path(locale: I18n.locale), class: "fa fa-stack-overflow")
      .visible-xs.visible-sm
        .form-group
          %input.form-control{ id: "appendedDropdownButton focusedInput", placeholder: "Search", type: "text" }
        .btn-group
          %button.btn.dropdown-toggle.allcat{ "data-toggle" => "dropdown" }
            = "#{I18n.t(:option_all)}"
            %span.caret
          %ul.dropdown-menu.topdropdown-search
            %li
              %a{ href: "#" } Animalia
            %li
              %a{ href: "#" } Aykalam 
        %button.btn.btn-default{ type: "submit" } 
          = "#{I18n.t(:submit_buton)}"
        .clearfix