.col-md-7
  %ul.nav.nav-pills.nav-justified
    %li
      %a{:href => "#{about_pages_path(locale: I18n.locale)}"}
        %i.fa.fa-info-circle{"aria-hidden" => "true"}
        = I18n.t('common.about_us')
    %li
      %a{:href => "#{books_path(locale: I18n.locale)}"}
        %i.fa.fa-columns{"aria-hidden" => "true"}
        = I18n.t('common.browse_all')
    %li
      %a{:href => "#{names_path(locale: I18n.locale)}"}
        %i.fa.fa-tags{"aria-hidden" => "true"}
        = I18n.t('common.names_header')
    %li
      %a{:href => "#{geographics_path(locale: I18n.locale)}"}
        %i.fa.fa-globe{"aria-hidden" => "true"}
        = I18n.t('common.geographics')
    %li
      %a{:href => "#{collections_path(locale: I18n.locale)}"}
        %i.fa.fa-th-large{"aria-hidden" => "true"}
        = I18n.t('common.collections')