- if "#{I18n.locale}" == "ar" 
  = stylesheet_link_tag 'bootstrap_ar'
  = stylesheet_link_tag 'main_ar'
- else
  = stylesheet_link_tag 'bootstrap_en'
  = stylesheet_link_tag 'main_en'
= stylesheet_link_tag 'font-awesome'
= stylesheet_link_tag 'jquery/themes/jquery.ui.all.css'
= stylesheet_link_tag 'social_share.css'    