- if "#{I18n.locale}" == "ar"
  = stylesheet_link_tag 'bootstrap_ar'
  = stylesheet_link_tag 'main_ar'
- else
  = stylesheet_link_tag 'bootstrap_en'
  = stylesheet_link_tag 'main_en'
= stylesheet_link_tag 'application'
= stylesheet_link_tag 'angularjs/angular-ui-tree'
= stylesheet_link_tag 'header'
= stylesheet_link_tag 'responsive-issues'
