.col-md-2  
  .signin
    .col-sm-6.no-padding.text-center
      - if !is_logged_in?
        = link_to new_user_path(locale: I18n.locale), class: "fa fa-sign-in" do
          %div
            = I18n.t('common.signup')
      - else
        = link_to logout_user_path(locale: I18n.locale, id: session["user_id"]), class: "fa fa-sign-out" do
          %div
            = I18n.t('common.signout')
    .col-sm-6.no-padding.text-center
      - if !is_logged_in?
        = link_to login_users_path(locale: I18n.locale), class: "fa fa-user" do
          %div
            = I18n.t('common.login')
      - else
        = link_to controller: "users", action: "show", id: session["user_id"], tab: nil, locale: I18n.locale do
          %i.fa.fa-edit
          %div
            = I18n.t('common.profile')