.col-md-8.column
  %h4
    = I18n.t('common.profile')
    %small
      - if User.can_edit?(@user.id, session[:user_id])
        = link_to I18n.t('common.edit'), edit_user_path(id: @user.id), { class: "fa fa-edit" }
  %hr
  #photo
    .col-md-2.column.pull-right{ id: "user_photo" }
  .div
    %span.col-md-3.text-right
      %strong
        = I18n.t('common.real_name')
    %span.col-md-6
      = @user.real_name
    %span.col-md-3.text-right
      %strong
        = I18n.t('common.username')
    %span.col-md-6
      = @user.username
    %span.col-md-3.text-right
      %strong
        = I18n.t('common.member_since')
    %span.col-md-6
      = @user.created_at.to_s
    %span.col-md-3.text-right
      %strong
        = I18n.t('common.last_login')
    %span.col-md-6
      = @user.last_login.to_s
