.col-md-9
  %h4
    = I18n.t('common.profile')
    %small.pull-right
      - if User.can_edit?(@user.id, session[:user_id])
        .btn.btn-default
          = link_to " #{I18n.t('common.edit')}", edit_user_path(id: @user.id), { class: "fa fa-edit" }
        .btn.btn-default
          = link_to " #{I18n.t('common.change_password')}" , change_password_user_path(id: @user.id), { class: "fa fa-lock" }
    .clearfix
  %hr
  .col-sm-3
    #photo
      %div{ id: "user_photo" }
  .col-sm-9  
    %div
      %strong
        = I18n.t('common.real_name')
      %span{ "ng-non-bindable" => "" }
        = @user.real_name
    %div
      %strong
        = I18n.t('common.username')
      %span
        = @user.username
    %div
      %strong
        = I18n.t('common.member_since')
      %span
        = @user.created_at.to_s
    %div
      %strong
        = I18n.t('common.last_login')
      %span
        = @user.last_login.to_s
