= javascript_include_tag "login"

.col-md-8.column
  %div
    %fieldset
      %legend
        = I18n.t('common.login')
      .form-horizontal
        = form_for :user, url: validate_users_path, builder: FormHelper::BHLFormBuilder, html: { onsubmit: "return check_login_paramters();" } do |f|
          - unless session[:return_to].blank?
            = f.hidden_field :return_to, value: session[:return_to]
          .form-group
            = f.label I18n.t('common.username'), class: 'col-sm-2 control-label'
            .col-sm-10
              .invisible_error_msg#username_error
                = "#{I18n.t('msgs.empty_user_name_error')}"
              = f.text_field :username, { class: "required form-control" , id: "username" }
          .form-group
            = f.label I18n.t('common.password'), class: 'col-sm-2 control-label'
            .col-sm-10
              .invisible_error_msg#password_error
                = "#{I18n.t('msgs.empty_password_error')}"
              = f.password_field :password, { type: "password", class: "required form-control" , id: "password" }
          - if @verify_captcha
            .form-group
              = f.label :recaptcha, I18n.t('common.recaptcha'), class: 'required col-sm-2 control-label'
              .col-sm-10
                .invisible_error_msg#captcha_error
                  = "#{I18n.t('msgs.empty_verfication_error')}"
                = recaptcha_tags(display: {theme: 'clean'})
          .form-group
            .col-sm-2
            .col-sm-10
              = f.submit I18n.t('common.login'), class: "btn btn-default", id: "submit"
        %hr
          %div
            = link_to I18n.t('common.forgot_password_link'), forgot_password_users_path
            \/ #{I18n.t('common.not_member')}
            = link_to I18n.t('common.signup'), new_user_path