:javascript
  var loginApp = angular.module('loginApp', []);
  loginApp.controller('loginValidate', function($scope) {

  });

:css
  input.ng-invalid.ng-touched { border-color: red}

.col-md-8.column
  %div{"ng-app": "loginApp"}
    %fieldset
      %legend
        = I18n.t('common.login')
      .form-horizontal
        = form_for :user, url: validate_users_path, builder: FormHelper::BHLFormBuilder,
                    html: { name: "loginForm",
                            "novalidate" => "novalidate",
                            "ng-controller": "loginValidate"} do |f|
          - unless session[:return_to].blank?
            = f.hidden_field :return_to, value: session[:return_to]
          .form-group
            = f.label I18n.t('common.username'), class: 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :username, class: "required form-control",
                             "ng-model": "username", :required => true, :placeholder => I18n.t('common.username')
          .form-group
            = f.label I18n.t('common.password'), class: 'col-sm-2 control-label'
            .col-sm-10
              = f.password_field :password, type: "password", class: "required form-control" ,
                                 "ng-model": "password", :required => true, :placeholder => I18n.t('common.password')
          - if @verify_captcha
            .form-group
              = f.label :recaptcha, I18n.t('common.recaptcha'), class: 'required col-sm-2 control-label'
              .col-sm-10
                = recaptcha_tags(display: {theme: 'clean'})
          .form-group
            .col-sm-2
            .col-sm-10
              = f.submit I18n.t('common.login'), class: "btn btn-default", id: "submit",
                         "ng-disabled": "loginForm.$invalid"
        %hr
          %div
            = link_to I18n.t('common.forgot_password_link'), forgot_password_users_path
            \/ #{I18n.t('common.not_member')}
            = link_to I18n.t('common.signup'), new_user_path