= javascript_include_tag 'jquery/jquery.tooltipster.min'
= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'
= javascript_include_tag "user_page"

:javascript  
  $(document).ready(function() {
    load_user_photo(0, "#{params[:id]}");
  });

  
- if @user
  = render partial: "users/load_user_page"
- else
  = "RESOURCE NOT FOUND"
