- @activities.each do |activity|
  - @owner_of_activity = User.find(activity.user_id)
  - if( @owner_of_activity && (@owner_of_activity.photo_name.blank?))
    - @thumb = "/images_#{I18n.locale}/#{I18n.t('common.default_user_small')}"
  - else
    - @thumb = @owner_of_activity.photo_name_url(:thumb)
    
  .media
    = link_to image_tag("#{@thumb}", class: "media-object img-circle"), { controller: 'users', action: 'show', id: @owner_of_activity.id }, class: "pull-left"
    .media-body.activity-log
      %p{ style: "line-height:120%;font-size:12px;" }
        %strong
          = link_to @owner_of_activity.real_name, user_path(id: @owner_of_activity.id, tab: "profile"), class: "book_author"
        %strong
          = activity_action_and_object(activity)
        %a.book_title{ href: "/#{activity.activitable_type.pluralize(2)}/#{activity.activitable_id}" } 
          = activity.activitable_title
        %strong
          = "#{activity_action_postfix(activity)} #{activity.value}"
        %br
        %br
        %small.text-muted
          = "#{I18n.t('common.at')} #{activity.created_at}"
  %hr{ style: "margin-top: 0px; margin-bottom: 0px;" }

- if @total_activities == 0
  = I18n.t('common.no_activities')
- else
  %center
    %ul.pager
      %li
        - if @offset.to_i > 1
          %a.rotate{ onmouseover: "", style: "cursor: pointer;", onclick: "moveItems(0, \"homeactivitylog\");" }
            %i.fa.fa-arrow-left
        - else
          %a.rotate{ style: "cursor: not-allowed; color: #999999;" }
            %i.fa.fa-arrow-left
      %li
        - if (@offset + HOME_LOG_ACTIVITIES < @total_activities )
          %a.rotate{ onmouseover: "", style: "cursor: pointer;", onclick: "moveItems(1, \"homeactivitylog\");" }
            %i.fa.fa-arrow-right
        - else
          %a.rotate{ style: "cursor: not-allowed; color: #999999;" }
            %i.fa.fa-arrow-right