.row.mg-top40
  .col-md-12.nopadding.home-books.border
    .col-md-2.text-center
      .mostviewed
        %img{:alt => "", :height => "64", :src => "/assets/images_en/orange-bhl.png", :width => "140"}
          = I18n.t('common.most_viewed')
    - if (top_books.count > 0)  
      
      - top_books.each_with_index  do |doc, index|
        - doc = doc
        - cover_index = index + 1
        - title = doc[:title][0].length > 40 ? "#{doc[:title][0][0..40]}..." : doc[:title][0] 
        .book{ class: "book#{cover_index}"}
          .book-content
            %h5
              = link_to title, book_path(id: doc[:job_id])          
            - if doc[:rate]
              .rate   
                .starsidelink_gray{ id: "starsidelink_#{doc[:job_id]}", data: "#{doc[:rate]}" }
      .clearfix