.container
  .row.maincontent
    .col-md-12
      %div
        .center-block
          %fieldset
            %legend 
              = I18n.t('common.contact_us')
            .form-horizontal
              = validation_errors_for(@email_message)
              = form_for @email_message, url: send_contact_us_message_pages_path, builder: FormHelper::BHLFormBuilder do |f|
                .form-group
                  = f.label  I18n.t('common.sender'), class: 'col-sm-2 control-label'
                  .col-sm-10
                    = f.text_field :name, { class: "required form-control" }
                .form-group
                  = f.label  I18n.t('common.email'), class: 'col-sm-2 control-label'
                  .col-sm-10
                    = f.text_field :email, { class: "required form-control" }
                .form-group
                  = f.label  I18n.t('common.message_subject'), class: 'required col-sm-2 control-label'
                  .col-sm-10
                    = f.text_field :subject, { class: "required form-control" }
                .form-group
                  = f.label  I18n.t('common.text'), class: 'col-sm-2 control-label'
                  .col-sm-10
                    = f.text_area :message , class: "required form-control", rows: 3
                - if @verify_captcha
                  .form-group
                    = f.label  I18n.t('common.recaptcha'), class: 'required col-sm-2 control-label'
                    .col-sm-10
                      = recaptcha_tags(display: { theme: 'clean' })
                    .clearfix
                    %br
                      %center
                        = f.submit I18n.t('common.send'), class: "btn btn-primary"
                        = f.submit I18n.t('common.clear'), type: "reset", class: "btn btn-defualt"