%i
  - if display_title
    %b
      = I18n.t('common.names')
- sci_names.each_with_index do |item, index|
  %a.tooltipname{ title: '', href: "#", onMouseOver: "load_sci_name_info(\"#{item}\", \"#{id}\", \"#{index}\")", id: "name_tip_#{id}_#{index}" }
    = item.html_safe
  -if index != sci_names.length - 1
    %b
      = I18n.t('common.separator')
%span
  - if sci_names_count > MAX_NAMES_PER_BOOK
    = I18n.t('common.and_count_more', count: (sci_names_count - MAX_NAMES_PER_BOOK))