.clearfix
.col-sm-12
  .text-right.sort
    %small
      = I18n.t('common.sort_by')
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', nil)),
                class: 'fa fa-check-square', style: "#{get_class_for_sort_option(params[:sort_type],'views')}"
      = link_to '', books_path(params: add_facet_search(params,  'sort_type', 'views desc')),
                class: 'fa fa-square-o',
                style: "#{get_class_for_active_sort_option(params[:sort_type],'views')};"
      = link_to I18n.t('common.number_of_viewes'),
                books_path(params: add_facet_search(params,  'sort_type',
                "views #{toggle_sort_option(params[:sort_type])}")),
                style: 'color:#777777;'
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'views asc')),
                class: 'fa fa-arrow-down', style: "#{get_class_for_sort_option(params[:sort_type],'views desc')};"
      = link_to '', books_path(params: add_facet_search(params, 'sort_type',  'views desc')),
                class: 'fa fa-arrow-up', style: "#{get_class_for_sort_option(params[:sort_type],'views asc')};"

      %span |

      = link_to '', books_path(params: add_facet_search(params, 'sort_type', nil)),
                class: 'fa fa-check-square', style: "#{get_class_for_sort_option(params[:sort_type],'rate')};"
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'rate desc')),
                class: 'fa fa-square-o', style: "#{get_class_for_active_sort_option(params[:sort_type],'rate')};"
      = link_to I18n.t('common.rate'),
                books_path(params: add_facet_search(params, 'sort_type',
                "rate #{toggle_sort_option(params[:sort_type])}")),
                style: 'color:#777777;'
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'rate asc')),
                class: 'fa fa-arrow-down', style: "#{get_class_for_sort_option(params[:sort_type],'rate desc')};"
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'rate desc')),
                class: 'fa fa-arrow-up', style: "#{get_class_for_sort_option(params[:sort_type],'rate asc')};"

      %span |

      = link_to '', books_path(params: add_facet_search(params, 'sort_type', nil)),
                class: 'fa fa-check-square', style: "#{get_class_for_sort_option(params[:sort_type],'title_sort')};"
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'title_sort desc')),
                class: 'fa fa-square-o', style: "#{get_class_for_active_sort_option(params[:sort_type],'title_sort')};"
      = link_to I18n.t('common.title'),
                books_path(params: add_facet_search(params, 'sort_type',
                "title_sort #{toggle_sort_option(params[:sort_type])}")),
                style: 'color:#777777;'
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'title_sort asc')),
                class: 'fa fa-arrow-down', style: "#{get_class_for_sort_option(params[:sort_type],'title_sort desc')};"
      = link_to '', books_path(params: add_facet_search(params, 'sort_type', 'title_sort desc')),
                class: 'fa fa-arrow-up', style: "#{get_class_for_sort_option(params[:sort_type],'title_sort asc')};"

