.mg-top20
  %a.btn.btn-info{ href: "#{book_path(id: id, tab: 'read')} ", target: "_blank" }
    = I18n.t('common.read')
  - if is_logged_in?
    %a.btn.btn-warning{ onclick: "load_collections(#{id})" }
      = I18n.t('common.add_collection')
  .modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "approvalModalLabel", "role" => "dialog", "tabindex" => "-1", id: "collection_modal_#{id}" }

  - if rate
    .rate-book
      .starsidelink_gray{ id: "starsidelink_#{id}", data: "#{rate}" }
  %span.text-muted
    %small
      = I18n.t('common.views', count: views)
  
  
  
