= stylesheet_link_tag 'jquery/themes/jquery-ui1.10.3-smoothness' #For add book to collection
= javascript_include_tag 'jquery/jquery.tooltipster.min'
= stylesheet_link_tag 'jquery/rating/jRating.jquery.css'
= javascript_include_tag 'jquery/rating/jRating.jquery.js'
= javascript_include_tag 'books_functions'

.row
  - if (@response[:volumes].count > 0)
    .col-md-4.sidebar-offcanvas.pull-right
      = render partial: "books/right_column"
    .col-md-8
      = render partial: "books/breadcrumb"  
      - @books.each_with_index  do |doc, index|
        - highlighted_item = @response[:highlights].blank? ? {} : @response[:highlights]["#{doc[:job_id]}"]
        = render partial: "books/listresult", locals: { index: index, doc: doc, highlighted_item: highlighted_item }
      %center
        .pagination-centered
          = will_paginate @books
  - else
    %div
      = render 'action_buttons'
    %div.no-books
      %h2
        = I18n.t('common.no_books_found')