:javascript
  $(document).ready(function() {
    $("#" + "#{type}_pagination").find(".previous_page").addClass("fa fa-arrow-left");
    $("#" + "#{type}_pagination").find(".next_page").addClass("fa fa-arrow-right");

    $("#" + "#{type}_pagination").find(".previous_page").click(function(event) {
      href = $(this).attr('href');
      event.preventDefault();
      get_carousel(href, "#{object_id}", "#{type}");
    });

    $("#" + "#{type}_pagination").find(".next_page").click(function(event) {
      href = $(this).attr('href');
      event.preventDefault();
      get_carousel(href, "#{object_id}", "#{type}");
    });
  });  
    
.list-group
  .list-group-item.active
    %h4
      = carousel_title
    - unless items.blank?
      - items.each do |item|
        - title = params[:type] == "related" ? item[:title].first : item[:title]
        = link_to title, { controller: controller, action: action, id: item[:id] || item[:job_id] }, class: "list-group-item"

  %center{ id: "#{type}_pagination" }
    = will_paginate items, page_links: false, previous_label: "", next_label: ""
