#location_checkbox
  %center
    = check_box_tag "check10", 10, @range.include?("10"), class: "check10"
    - pin = I18n.t(:blue_pin)
    %img{ alt: pin , title: pin, src: @icons[10]} 
    1-10 
    = I18n.t(:geo_titles)
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    = check_box_tag "check20", 20, @range.include?("20"), class: "check20"
    -pin = I18n.t(:green_pin)
    %img{ alt: pin, title: pin, src: @icons[20]}
    11-20 
    = I18n.t(:geo_titles)
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    = check_box_tag "check30", 30, @range.include?("30"), class: "check30"
    -pin = I18n.t(:yellow_pin)
    %img{ alt: pin, title: pin, src: @icons[30]}
    21-30 
    = I18n.t(:geo_titles)
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    = check_box_tag "check40", 40, @range.include?("40"), class: "check40"
    -pin = I18n.t(:orange_pin)
    %img{ alt: pin, title: pin, src: @icons[40]}
    31-40 
    = I18n.t(:geo_titles)
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    = check_box_tag "check50", 50, @range.include?("50"), class: "check50"
    -pin = I18n.t(:red_pin)
    %img{ alt: pin, title: pin, src: @icons[50]}
    41  
    = I18n.t(:geo_titles_more)
    &nbsp;&nbsp;&nbsp;&nbsp;