#location_checkbox
  %center
    %input{ "type" => "checkbox", "ng-model" => "check_100", "ng-click" => "updatePins('100')" }
    - pin = I18n.t('geographics.blue_pin')
    %img{ alt: pin , title: pin, src: @icons[100]} 
    1-100 
    = I18n.t('geographics.geo_titles_first_ten')
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    %input{ "type" => "checkbox", "ng-model" => "check_200", "ng-click" => "updatePins('200')" }
    -pin = I18n.t('geographics.green_pin')
    %img{ alt: pin, title: pin, src: @icons[200]}
    101-200 
    = I18n.t('geographics.geo_titles')
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    %input{ "type" => "checkbox", "ng-model" => "check_300", "ng-click" => "updatePins('300')" }
    -pin = I18n.t('geographics.yellow_pin')
    %img{ alt: pin, title: pin, src: @icons[300]}
    201-300 
    = I18n.t('geographics.geo_titles')
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    %input{ "type" => "checkbox", "ng-model" => "check_400", "ng-click" => "updatePins('400')" }
    -pin = I18n.t('geographics.orange_pin')
    %img{ alt: pin, title: pin, src: @icons[400]}
    301-400 
    = I18n.t('geographics.geo_titles')
    &nbsp;&nbsp;&nbsp;&nbsp;
    
    %input{ "type" => "checkbox", "ng-model" => "check_500", "ng-click" => "updatePins('500')" }
    -pin = I18n.t('geographics.red_pin')
    %img{ alt: pin, title: pin, src: @icons[500]}
    401  
    = I18n.t('geographics.geo_titles_more')
    &nbsp;&nbsp;&nbsp;&nbsp;