%h5{style: "direction: ltr"}
  = "#{@location_name} (#{@books_count})"
%ol.geographics
  - @books.each do |key, value|
    %li
      =link_to value, "/books/#{key}"
- if @books_count > 10
  = link_to I18n.t('geographics.geo_show_all'),
      books_path(params: add_facet_search({}, 'location', @address))
