%footer
  .container
    .row
      .col-md-8
        %img{ alt: "", height: "39", src: "/assets/images_#{I18n.locale}/ba_logo", width: "92" }
          = I18n.t('common.ba')
      .col-md-4
        %a.color-black{ href: "#{contact_pages_path(locale: I18n.locale)}" }
          = I18n.t('common.contact_us')
        %a.color-black{ href: "#{about_pages_path(locale: I18n.locale)}" }
          = I18n.t('common.about_us')