#home-header
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ "aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        - cache("logo_#{I18n.locale}") do
          = render partial: 'header_components/logo'
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        = render partial: 'header_components/pages'
        .col-md-3.center-block.topmenu-lang
          %ul.nav.nav-pills
            %li
              = render partial: 'header_components/languages'
            = render partial: 'header_components/user_actions'
              
              
  - if params[:controller] == "pages" and params[:action] == "home"
    = render partial: 'pages/statistics'
