.row.clearfix.visible-md.visible-lg
  = render partial: "header_components/logo"
  = render partial: "header_components/main_search"
  = render partial: "header_components/user_actions"
  = render partial: "header_components/languages"
  
.row.clearfix
  = render partial: "header_components/pages" 